/*************************************************
 * BLOCK
 *************************************************/


/* ----- VARS ----- */
.block {
	z-index: $block-z-index;
	border: $block-thickness solid $color-black;
	background-color: transparent;

	&.block-black {
		border-color: $color-black;
		color: $color-black;
	}

	&.block-gray {
		border-color: $color-gray-light;
		color: $color-gray-light;
	}

	&.block-metal {
		border-color: $color-metal;
		color: $color-orange;
	}

	&.block-orange {
		border-color: $color-orange;
		color: $color-orange;
	}

	&.block-white {
		border-color: $color-white;
		color: $color-white;
	}

	.block-content {
		padding: $gutter / 4;

		@extend %font-bold;

		color: inherit;
		font-size: $font-size-10;
		text-transform: uppercase;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			margin: 0em 0.01em;
			padding: 0;
			color: inherit;
			font-family: inherit;
			font-size: inherit;
			font-style: inherit;
			font-weight: inherit;
			line-height: inherit;
			text-transform: inherit;
		}
	}
}





