/*************************************************
 * BUTTON - SMALL
 *************************************************/

.btn {

}


/* ----- CLOSE ----- */
.btn-close {

}


/* ----- ARROW ----- */
.btn-arrow {
	font-size: $font-size-3;

	i {

	}

	span {
		margin-left: 1em;
		margin-right: 1em;
	}
}


