/*************************************************
 * FULLPAGE
 *************************************************/


/* ----- SECTION ----- */
.full-section {
	width: 100%;
}


/* ----- SLIDE ----- */
.full-slide {
	width: 100%;
}

.full-slide-header {
	@include gpu();
	padding-top: $gutter;
	height: $slide-header-height;

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
}

.full-slide-body {
	@include gpu();
	margin: auto;
	height: calc( 100% - #{$slide-header-height} - #{$slide-footer-height} );
}

.full-slide-footer {
	@include gpu();
	display: flex;
	align-items: flex-end;
	padding-bottom: $gutter;
	height: $slide-footer-height;
}


/* ----- PARALLAX IMAGE ----- */
.full-parallax-image {
	display: block;
	position: absolute;
	margin: 0;
	border: 0;
	padding: 0;
	transition: transform $duration-fp;
}


/* ----- CONTROL ARROWS ----- */
.fp-controlArrow {

	&.fp-prev {

	}

	&.fp-next {

	}
}

/* ----- FLEXBOX ----- */
.full-flexbox {
	display: flex;
	align-items: center;
}

/* ----- ANIMATIONS ----- */
.anim-fade-in {

}

.anim-slide-in {

}

/* ----- ACTIVE ----- */
.fp-section.active {

	.fp-slide.active {

		.anim-fade-in {
			animation: fade-in $duration-long both;

			// Ceasar: easeOutSine
			animation-timing-function: cubic-bezier( 0.390, 0.575, 0.565, 1.000 );
		}

		.anim-slade-in {
			animation: slade-in-bottom $duration-long both;

			// Ceasar: easeOutQuint
			animation-timing-function: cubic-bezier( 0.230, 1.000, 0.320, 1.000 );
		}

		@include generate-anim( $duration-normal, $duration-fp, 10 );
	}
}






