/*************************************************
 * FULLPAGE - SMALL
 *************************************************/


/* ----- SECTION ----- */
.full-section {

}


/* ----- SLIDE ----- */
.full-slide {

}

.full-slide-header {
	height: $slide-header-height-sm;
}

.full-slide-body {
	height: calc( 100% - #{$slide-header-height-sm} - #{$slide-footer-height-sm} );
}

.full-slide-footer {
	height: $slide-footer-height-sm;
}


/* ----- PARALLAX IMAGE ----- */
.full-parallax-image {

}


/* ----- CONTROL ARROWS ----- */
.fp-controlArrow {

	&.fp-prev {

	}

	&.fp-next {

	}
}

/* ----- FLEXBOX ----- */
.full-flexbox {

}






