/*************************************************
 * HERO
 *************************************************/


.hero {

	[class*=col] {
		position: relative;
		height: $hero-height;
		overflow: hidden;
	}
}
