/*************************************************
 * HERO
 *************************************************/


.hero {

	[class*=col] {
		position: relative;
		height: $hero-height;
		overflow: hidden;

		backface-visibility: hidden;
		perspective: 1000px;
	}
}
