/*************************************************
 * BODY
 *************************************************/


body {
	@include zero();
	@extend %font-normal;
	background-color: $color-metal;
	color: $color-white;
	transition: opacity $duration-long;
}



