/*************************************************
 * GENERAL - SMALL
 *************************************************/


h1, h2, h3, h4, h5, h6, blockquote {

}

p, ol, ul, li, table {

}

h1 {
	font-size: $font-size-10;
}

h2 {
	font-size: $font-size-9;
}

h3 {
	font-size: $font-size-8;
}

h4 {
	font-size: $font-size-7;
}

h5 {
	font-size: $font-size-6;
}

h6 {
	font-size: $font-size-5;
}

p {
	font-size: $font-size-3;
}

blockquote {

	font-size: $font-size-6;
}

ul,
ol {

}

li {
	font-size: $font-size-3;
}

table {
	font-size: $font-size-3;

	tr {

		th,
		td {

		}

		th {

		}

		td {

		}
	}
}

img {

}

label {
	font-size: $font-size-3;
}

input[type=text],
textarea {
	font-size: $font-size-3;
}

legend {
	font-size: $font-size-3;
}

::placeholder {
	color: inherit;
	opacity: 0.7;
}



/* ----- MISC ----- */







