/*************************************************
 * SETTINGS - VARS
 *************************************************/

/* ----- GENERAL ----- */
$main-width: 992px;
$grid-num: 10; //5
$gutter: 30px;

$loader-z: 2000;

$menu-z: 1001;
$menu-button-size: 44px;
$menu-button-size-sm: 70px;
$menu-button-z: 1002;

$alert-z: 9999;

$arrow-width: 40px;
$arrow-height: 60px;

$slide-header-height: 36px + $gutter;
$slide-footer-height: $slide-header-height;
$slide-header-height-sm: 48px + $gutter;
$slide-footer-height-sm: $slide-header-height;


/* ----- SPACING ----- */
$default-margin-top: 1.4em;
$default-margin-bottom: 0.7em;
$default-line-height: 1.4;


/* ----- BREAKPOINTS ----- */
$screen-width-xs: 480px;
$screen-width-sm: 768px;
$screen-width-md: 992px;
$screen-width-lg: 1200px;

$container-width-sm: $screen-width-sm - $gutter;
$container-width-md: $screen-width-md - $gutter;
$container-width-lg: $screen-width-lg - $gutter;


/* ----- COLORS ----- */
$color-black: #000;
$color-cobalt: #4e5c75; // Light Navy
$color-gold: #ceab52;
$color-metal: #2d3142; // Normal Navy
$color-orange: #f36b31;
$color-silver: #b3b3b3;
$color-steel: #cfcfd1;
$color-teal: #3daaa2;
$color-white: #fff;

$color-instagram: #4e5c75;
$color-twitter: #37a7df;

$color-gray-darker: #333;
$color-gray-dark: #666;
$color-gray-normal: #ababab;
$color-gray-light: #b4b4b4;
$color-gray-lighter: #e6e6e6;

$color-trans-black: rgba( $color-black, 0.5 );
$color-trans-white: rgba( $color-white, 0.5 );
$color-trans-metal: rgba( #7186aa, 0.5 );

$color-warning: $color-orange;


/* ----- FONT SIZES ----- */
$font-size-0: 11px;
$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-size-5: 21px;
$font-size-6: 24px;
$font-size-7: 28px;
$font-size-8: 36px;
$font-size-9: 48px;
$font-size-10: 60px;
$font-size-11: 72px;
$font-size-12: 84px;


/* ----- TRANSITIONS ----- */
$duration-short: 0.15s;
$duration-normal: 0.3s;
$duration-long: 0.7s;
$duration-fp: 1.0s;


/* ----- BLOCKS ----- */
$block-size-larger: 264px;
$block-size-large: 228px;
$block-size-normal: 192px;
$block-size-small: 156px;
$block-size-smaller: 120px;
$block-z-index: 100;
$block-thickness: 5px;










