/*************************************************
 * EVENTS
 *************************************************/

.events {

}

.event {
	@extend %font-bold;
	margin: $gutter / 4 0;
	text-align: center;
	text-transform: uppercase;

	&.event--next {

		.event-date {
			font-size: $font-size-7;
		}

		.event-venue {
			font-size: $font-size-9;
		}

		.event-category {
			font-size: $font-size-8;
		}
	}
}

.event-date {
	margin: 0.1em 0em;
	color: $color-metal;
	font-size: $font-size-4;
}

.event-venue {
	margin: 0.1em 0em;
	color: $color-white;
	font-size: $font-size-6;
}

.event-category {
	margin: 0.1em 0em;
	color:  $color-metal;
	font-size: $font-size-5;
}

