/*************************************************
 * EVENTS - SMALL
 *************************************************/

.events {

}

.event {
	margin-top: $gutter / 2;
	margin-bottom: $gutter / 2;

	&.event--next {

		.event-date {
			font-size: $font-size-8;
		}

		.event-venue {
			font-size: $font-size-10;
		}

		.event-category {
			font-size: $font-size-9;
		}
	}
}

.event-date {
	font-size: $font-size-6;
}

.event-venue {
	font-size: $font-size-8;
}

.event-category {
	font-size: $font-size-7;
}

