/*************************************************
 * EVENTS - LARGE
 *************************************************/

.events {

}

.event {

	&.event--next {

		.event-date {
			font-size: $font-size-10;
		}

		.event-venue {
			font-size: $font-size-12;
		}

		.event-category {
			font-size: $font-size-11;
		}
	}
}

.event-date {

}

.event-venue {

}

.event-category {

}

