/*************************************************
 * FEED - SMALL
 *************************************************/

.feed {

}

.feed-cell {

}

.feed-item {

}

.feed-item-platform {

}

.feed-item-content {
	padding: $gutter;
	min-height: 60%;
}

.feed-item-content-body {
	font-size: $font-size-4;
}

.feed-item-content-footer {
	font-size: $font-size-3;
}
