/*************************************************
 * HOME
 *************************************************/

.home {

	.block {
		position: absolute;
		top: 50%;
		right: 50%;
		margin-top: -$block-size-normal / 2;
		margin-right: -$block-size-normal / 2;
		width: $block-size-normal;
		height: $block-size-normal;

		.block-content {
			position: absolute;
			bottom: 0;
			right: 0;
			font-size: $font-size-10;
		}
	}
}
