/*************************************************
 * RESULTS - NO-TOUCH
 *************************************************/

.results {

	.btn-arrow {

		&:hover:not([disabled]) {
			color: $color-orange;
			text-decoration: none;
		}
	}

	.rkt-carousel-pip-list {

		> .rkt-carousel-pip-item {

			&:hover {
				background-color: $color-orange;
			}
		}
	}
}
