/*************************************************
 * RESULTS - LARGE
 *************************************************/

.results {

	.block {

		.block-content {
			font-size: $font-size-10;
		}
	}

	.btn-arrow {

	}
}

#result-block-0 {
	top: 50%;
	left: calc( 50% + #{$gutter / 2} );

	margin-top: -$block-size-small - $gutter / 2;

	width: $block-size-small;
	height: $block-size-small;

	.block-content {
		font-size: $font-size-9;
	}
}

#result-block-1 {
	top: 50%;
	left: calc( 50% + #{$gutter / 2 + $block-size-small + $gutter} );

	margin-top: -$block-size-normal - $gutter / 2;

	width: $block-size-normal;
	height: $block-size-normal;
}

#result-block-2 {
	top: 50%;
	left: calc( 50% + #{$gutter / 2 + $block-size-small / 2} );

	margin-top: $gutter / 2;

	width: $block-size-normal;
	height: $block-size-normal;
}

.result {

}

.result-detail {

}

.result-detail-mark {

}

.result-detail-date {

}

.result-venue {

}
