/*************************************************
 * RESULTS - SMALL
 *************************************************/

.results {

	.container-full {
		height: 100%;
	}

	.block {
		display: block;
		position: absolute;
		width: auto;

		.block-content {
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			font-size: $font-size-9;

			.block-content-date {
				font-size: 0.8em;
			}

			.block-content-date {
				display: block;
				width: auto;
				text-align: left;
			}

			.block-content-category {
				display: block;
				width: auto;
				font-size: inherit;
				text-align: left;
			}

			.block-content-mark {
				display: block;
				width: auto;
				font-size: inherit;
				text-align: left;
			}
		}
	}

	.btn-arrow {

	}

	.full-parallax-image {
		display: block;
	}
}

#result-block-0 {
	top: 50%;
	left: calc( 50% + #{$gutter / 2} );

	margin-top: -$block-size-smaller - $gutter / 2;

	width: $block-size-smaller;
	height: $block-size-smaller;

	.block-content {
		font-size: $font-size-8;
	}
}

#result-block-1 {
	top: 50%;
	left: calc( 50% + #{$gutter / 2 + $block-size-smaller + $gutter} );

	margin-top: -$block-size-small - $gutter / 2;

	width: $block-size-small;
	height: $block-size-small;
}

#result-block-2 {
	top: 50%;
	left: calc( 50% + #{$gutter / 2 + $block-size-smaller / 2} );

	margin-top: $gutter / 2;

	width: $block-size-small;
	height: $block-size-small;
}

.result {
	margin-top: $gutter / 2;
	margin-bottom: $gutter / 2;
	font-size: $font-size-8;
}

.result-detail {

}

.result-detail-mark {

}

.result-detail-date {

}

.result-venue {
	font-size: $font-size-6;
}
