/*************************************************
 * RESULTS
 *************************************************/

.results {

	.container-full {
		height: auto;
	}

	.block {
		margin-bottom: $default-margin-bottom;

		.block-content {
			display: table;
			width: 100%;
			font-size: $font-size-7;

			.block-content-date {
				display: table-cell;
				width: percentage( 1 / 3 );
				font-size: inherit;
				//text-align: left;
			}

			.block-content-category {
				display: table-cell;
				width: percentage( 1 / 3 );
				font-size: inherit;
				text-align: center;
			}

			.block-content-mark {
				display: table-cell;
				width: percentage( 1 / 3 );
				font-size: inherit;
				text-align: right;
			}
		}
	}

	.btn-arrow {
		color: $color-white;
	}

	.full-parallax-image {
		display: none;
	}

	.rkt-carousel-pip-list {

		> .rkt-carousel-pip-item {

			&.active {
				background-color: $color-orange;
			}
		}
	}
}

#result-block-0 {

}

#result-block-1 {

}

#result-block-2 {

}

.result {
	@extend %font-bold;
	margin: $gutter / 4 0;
	border: 0;
	padding: 0;
	color: $color-orange;
	font-size: $font-size-7;
	text-align: center;
	text-transform: uppercase;
}

.result-detail {
	margin: 0.1em 0em;
}

.result-detail-mark {
	padding-right: 0.2em;
}

.result-detail-date {
	padding-left: 0.2em;
}

.result-venue {
	margin: 0.1em 0em;
	color: $color-white;
	font-size: $font-size-5;
}
